@font-face {
  font-family: 'Syne';
  src: url('/fonts/Syne-Bold.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Syne-Bold.woff') format('woff'),
  url('/fonts/Syne-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}