lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
.DS_Store

pids
logs
results

npm-debug.log
node_modules

.idea
.githubtoken
.jekyll-metadata
.idea

build

.tsgrc
graphql.config.json

static/assets
static/*.json